---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #EC7063, #5DADE2);
}

.main-content h1, .main-content h2{
    color: #158B99;
    text-decoration: underline;
}

a {
    color:#159957;
    text-decoration:none;
}

img {
    width: 80%;
    margin: auto;
}

